/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #888;
  background-color: #DDD8C4;
}
.special {
    background-color:aquamarine;
    border: dotted 50x green;
    color: pink;
    font-weight: bold;
}
#output p {
  width: 10%;
  float: left;
  position: relative;
  border: 1px solid black;
  padding: 10px;
}
